<app-global-small-banner></app-global-small-banner>
<section class="overlap-background quotes_footer">
  <div class="container pb-4 victor-recent-cover">
    <div class="row">
      <div class="col-12 portfolio-tabssection">
        <div class="card panels">
          <div class="card-body px-0 pb-0">
            <div class="col-md-12 mt-2 parent-table-wrapper px-0">
              <div class="p-tabview p-component">
                <div class='quotes__tabs-parent'>
                <ul
                  class="nav nav-tabs p-tabview-nav portfolio-quotes__tabs"
                  id="myTab"
                  role="tablist  "
                >
                  <li
                    class="nav-item p-highlight ng-star-inserted"
                    role="presentation"
                  >
                    <a
                      role="tab"
                      pripple=""
                      class="nav-link p-tabview-nav-link p-ripple active"
                      id=" home-tab p-tabpanel-0-label"
                      data-bs-toggle="tab"
                      data-bs-target="#home"
                      aria-selected="true"
                      aria-controls="p-tabpanel-0"
                      aria-controls="home"
                      tabindex="0"
                    >
                      <span class="p-tabview-title ng-star-inserted"
                        >ACTIVE QUOTES</span
                      ></a
                    >
                  </li>
  
                  <li role="presentation" class="ng-star-inserted">
                    <a
                      role="tab"
                      pripple=""
                      class="nav-link p-tabview-nav-link p-ripple"
                      id=" profile-tab p-tabpanel-1-label"
                      aria-selected="false"
                      aria-controls="profile"
                      aria-controls="p-tabpanel-1"
                      tabindex="0"
                      data-bs-toggle="tab"
                      data-bs-target="#profile"
                      ><span class="p-tabview-title ng-star-inserted"
                        >EXPIRED QUOTES</span
                      ></a
                    >
                  </li>
                  <li class="p-tabview-ink-bar"></li>
                </ul>
              </div>
                 <app-quotestable></app-quotestable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

  