<!-- quote table -->

<div class="tab-content" id="myTabContent">
  <span id="home-tab" class="d-none"> </span>
  <div
    class="tab-pane fade show active"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    <div class="fader-right d-none d-sm-none d-md-block d-lg-block d-xl-block">
      <span id="recent-activity-table" class="d-none"> </span>
      <table aria-describedby="recent-activity-table" class="table">
        <thead>
          <tr>
            <th scope="col" class="demi-weight">CLIENT NAME</th>
            <th scope="col" class="demi-weight">PROPOSAL #</th>
            <th scope="col" class="demi-weight">DATE EDITED</th>
            <th scope="col" class="demi-weight">BUSINESS LINE</th>
            <th scope="col" class="demi-weight">STATUS</th>
          </tr>
        </thead>

        <tbody class="recent-activity-table">
          <tr class="">
            <td class="d-none d-sm-table-cell">
              <div data-toggle="tooltip" title="Reg_WC_TC013" class="truncate">
                Reg_WC_TC013
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                6124d995f9f78944b9e165e9
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                08/24/2021
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <span _ngcontent-tsb-c131="" class="d-inline mr-1"
                  ><img
                    _ngcontent-tsb-c131=""
                    alt=""
                    class="tableicon"
                    src="/assets/road-runner/images/icons/BusinessOwnersPolicy.png"
                /></span>
                BOP
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                Quoted
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <a [routerLink]="['/primary-rating-state']" class="bg-black"
                  ><i class="bi bi-chevron-right"></i
                ></a>
              </div>
            </td>
          </tr>
          <!-- Table 2  -->

          <tr class="">
            <td class="d-none d-sm-table-cell">
              <div data-toggle="tooltip" title="Reg_WC_TC013" class="truncate">
                Reg_WC_TC014
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                6124d995f9f78944b9e16510
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                08/24/2021
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <span _ngcontent-tsb-c131="" class="d-inline mr-1"
                  ><img
                    _ngcontent-tsb-c131=""
                    alt=""
                    class="tableicon"
                    src="/assets/road-runner/images/icons/BusinessOwnersPolicy.png"
                /></span>
                BOP
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                Quoted
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <a [routerLink]="['/primary-rating-state']" class="bg-black"
                  ><i class="bi bi-chevron-right"></i
                ></a>
              </div>
            </td>
          </tr>

          <!-- Table 3 -->

          <tr class="">
            <td class="d-none d-sm-table-cell">
              <div data-toggle="tooltip" title="Reg_WC_TC013" class="truncate">
                Reg_WC_TC015
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                6124d995f9f78944b9e16511
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                08/24/2021
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <span _ngcontent-tsb-c131="" class="d-inline mr-1"
                  ><img
                    _ngcontent-tsb-c131=""
                    alt=""
                    class="tableicon"
                    src="/assets/road-runner/images/icons/BusinessOwnersPolicy.png"
                /></span>
                BOP
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                Quoted
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <a [routerLink]="['/primary-rating-state']" class="bg-black"
                  ><i class="bi bi-chevron-right"></i
                ></a>
              </div>
            </td>
          </tr>

          <!-- table 4 -->

          <tr class="">
            <td class="d-none d-sm-table-cell">
              <div data-toggle="tooltip" title="Reg_WC_TC013" class="truncate">
                Reg_WC_TC016
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                6124d995f9f78944b9e16515
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                08/24/2021
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <span _ngcontent-tsb-c131="" class="d-inline mr-1"
                  ><img
                    _ngcontent-tsb-c131=""
                    alt=""
                    class="tableicon"
                    src="/assets/road-runner/images/icons/BusinessOwnersPolicy.png"
                /></span>
                BOP
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                Quoted
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <a [routerLink]="['/primary-rating-state']" class="bg-black"
                  ><i class="bi bi-chevron-right"></i
                ></a>
              </div>
            </td>
          </tr>

          <!-- Table 5 -->

          <tr class="">
            <td class="d-none d-sm-table-cell">
              <div data-toggle="tooltip" title="Reg_WC_TC013" class="truncate">
                Reg_WC_TC017
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                6124d995f9f78944b9e16588
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                08/24/2021
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <span _ngcontent-tsb-c131="" class="d-inline mr-1"
                  ><img
                    _ngcontent-tsb-c131=""
                    alt=""
                    class="tableicon"
                    src="/assets/road-runner/images/icons/BusinessOwnersPolicy.png"
                /></span>
                BOP
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                Quoted
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <a [routerLink]="['/primary-rating-state']" class="bg-black"
                  ><i class="bi bi-chevron-right"></i
                ></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Close fader rigt -->
    <!-- Mobile Start  -->
    <div
      class="fader-right phone d-block d-sm-block d-md-none d-lg-none d-xl-none"
    >
      <div class="record-entry d-inline">
        <div class="row">
          <div
            class="
              col-9
              font-size-15 font-weight-bold
              pb-1
              pt-3
              mobile-content
              mobilefile
            "
          >
            Reg_WC_TC013
          </div>

          <div class="col-3 text-right">
            <a [routerLink]="['/primary-rating-state']" class="blackarrow"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>

        <!----><!----><!---->
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div class="col-9 font-size-15 mobile-content">
            <span class="d-inline mr-1"
              ><img
                alt=""
                class="tableicon"
                src="/assets/road-runner/images/icons/BusinessOwnersPolicy.png" /></span
            >BOP
          </div>
        </div>
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div
            class="
              col-9
              font-size-15 font-weight-bold
              pb-1
              pt-3
              mobile-content
              mobilefile
            "
          >
            Reg_GL_TC014
          </div>

          <div class="col-3 text-right">
            <a [routerLink]="['/primary-rating-state']" class="blackarrow"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>

        <!----><!----><!---->
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div class="col-9 font-size-15 mobile-content">
            <span class="d-inline mr-1"
              ><img
                alt=""
                class="tableicon"
                src="/assets/road-runner/images/icons/BusinessOwnersPolicy.png" /></span
            >BOP
          </div>
        </div>
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div
            class="
              col-9
              font-size-15 font-weight-bold
              pb-1
              pt-3
              mobile-content
              mobilefile
            "
          >
            Reg_GL_TC015
          </div>

          <div class="col-3 text-right">
            <a [routerLink]="['/primary-rating-state']" class="blackarrow"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>

        <!----><!----><!---->
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div class="col-9 font-size-15 mobile-content">
            <span class="d-inline mr-1"
              ><img
                alt=""
                class="tableicon"
                src="/assets/road-runner/images/icons/BusinessOwnersPolicy.png" /></span
            >BOP
          </div>
        </div>
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div
            class="
              col-9
              font-size-15 font-weight-bold
              pb-1
              pt-3
              mobile-content
              mobilefile
            "
          >
            Reg_GL_TC016
          </div>

          <div class="col-3 text-right">
            <a [routerLink]="['/primary-rating-state']" class="blackarrow"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>

        <!----><!----><!---->
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div class="col-9 font-size-15 mobile-content">
            <span class="d-inline mr-1"
              ><img
                alt=""
                class="tableicon"
                src="/assets/road-runner/images/icons/BusinessOwnersPolicy.png" /></span
            >BOP
          </div>
        </div>
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div
            class="
              col-9
              font-size-15 font-weight-bold
              pb-1
              pt-3
              mobile-content
              mobilefile
            "
          >
            Reg_GL_TC017
          </div>

          <div class="col-3 text-right">
            <a [routerLink]="['/primary-rating-state']" class="blackarrow"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>

        <!----><!----><!---->
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div class="col-9 font-size-15 mobile-content">
            <span class="d-inline mr-1"
              ><img
                alt=""
                class="tableicon"
                src="/assets/road-runner/images/icons/BusinessOwnersPolicy.png" /></span
            >BOP
          </div>
        </div>
      </div>
    </div>
    <!-- Mobile End  -->
  </div>
  <!-- close tab pannal -->

  <span id="profile-tab" class="d-none"></span>

  <div
    class="tab-pane fade"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <div class="fader-right d-none d-sm-none d-md-block d-lg-block d-xl-block">
      <table aria-describedby="recent-activity-table" class="table">
        <thead>
          <tr>
            <th scope="col" class="demi-weight">CLIENT NAME</th>
            <th scope="col" class="demi-weight">BUSINESS LINE</th>
            <th scope="col" class="demi-weight">SOLD BY</th>
            <th scope="col" class="demi-weight">PREMIUM</th>
            <th scope="col" class="demi-weight">DATE SOLD</th>
          </tr>
        </thead>

        <tbody class="recent-activity-table">
          <tr class="">
            <td class="d-none d-sm-table-cell">
              <div data-toggle="tooltip" title="Reg_WC_TC013" class="truncate">
                Reg_WC_TC013
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                WC
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                testUser1 testUser1
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                $930.00
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                08/24/2021
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <a class="bg-black"><i class="bi bi-chevron-right"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- Tabe 2 -->
        <tbody class="recent-activity-table">
          <tr class="">
            <td class="d-none d-sm-table-cell">
              <div data-toggle="tooltip" title="Reg_WC_TC013" class="truncate">
                Reg_WC_TC014
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                WC
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                testUser1 testUser1
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                $930.00
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                08/24/2021
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <a class="bg-black"><i class="bi bi-chevron-right"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- table 3 -->
        <tbody class="recent-activity-table">
          <tr class="">
            <td class="d-none d-sm-table-cell">
              <div data-toggle="tooltip" title="Reg_WC_TC013" class="truncate">
                Reg_WC_TC015
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                WC
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                testUser1 testUser1
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                $930.00
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                08/24/2021
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <a class="bg-black"><i class="bi bi-chevron-right"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- table 4 -->
        <tbody class="recent-activity-table">
          <tr class="">
            <td class="d-none d-sm-table-cell">
              <div data-toggle="tooltip" title="Reg_WC_TC013" class="truncate">
                Reg_WC_TC016
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                WC
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                testUser1 testUser1
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                $930.00
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                08/24/2021
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <a class="bg-black"><i class="bi bi-chevron-right"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- table 5 -->
        <tbody class="recent-activity-table">
          <tr class="">
            <td class="d-none d-sm-table-cell">
              <div data-toggle="tooltip" title="Reg_WC_TC013" class="truncate">
                Reg_WC_TC017
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                WC
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                testUser1 testUser1
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                $930.00
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                08/24/2021
              </div>
            </td>

            <td class="d-none d-sm-table-cell">
              <div _ngcontent-tsb-c131="" data-toggle="tooltip" title="">
                <a class="bg-black"><i class="bi bi-chevron-right"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- close fader -->
    <div
      class="fader-right phone d-block d-sm-block d-md-none d-lg-none d-xl-none"
    >
      <div class="record-entry d-inline">
        <div class="row">
          <div
            class="
              col-9
              font-size-15 font-weight-bold
              pb-1
              pt-3
              mobile-content
              mobilefile
            "
          >
            Reg_BOP_TC013
          </div>

          <div class="col-3 text-right">
            <a href="" class="blackarrow"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>
        <!----><!----><!---->
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div class="col-9 font-size-15 mobile-content">
            <span class="d-inline mr-1"
              ><img
                alt=""
                src="assets/road-runner/images/CGL-product.png" /></span
            >General Liability
          </div>
          <!-- <div class="col-3 text-right">
            <a class="bg-black fixed-width-icon-col mobile-link-button"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div> -->

          <!----><!----><!---->
        </div>
      </div>

      <!-- tabble 2 mobile  -->
      <div class="record-entry d-inline">
        <div class="row">
          <div
            class="
              col-9
              font-size-15 font-weight-bold
              pb-1
              pt-3
              mobile-content
              mobilefile
            "
          >
            Reg_BOP_TC014
          </div>

          <div class="col-3 text-right">
            <a href="" class="blackarrow"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>
        <!----><!----><!---->
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div class="col-9 font-size-15 mobile-content">
            <span class="d-inline mr-1"
              ><img
                alt=""
                src="assets/road-runner/images/CGL-product.png" /></span
            >General Liability
          </div>
          <!-- <div class="col-3 text-right">
            <a class="bg-black fixed-width-icon-col mobile-link-button"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div> -->

          <!----><!----><!---->
        </div>
      </div>

      <!-- table 3 -->

      <div class="record-entry d-inline">
        <div class="row">
          <div
            class="
              col-9
              font-size-15 font-weight-bold
              pb-1
              pt-3
              mobile-content
              mobilefile
            "
          >
            Reg_BOP_TC015
          </div>

          <div class="col-3 text-right">
            <a href="" class="blackarrow"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>
        <!----><!----><!---->
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div class="col-9 font-size-15 mobile-content">
            <span class="d-inline mr-1"
              ><img
                alt=""
                src="assets/road-runner/images/CGL-product.png" /></span
            >General Liability
          </div>
          <!-- <div class="col-3 text-right">
            <a class="bg-black fixed-width-icon-col mobile-link-button"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div> -->

          <!----><!----><!---->
        </div>
      </div>

      <!-- table 4 -->

      <div class="record-entry d-inline">
        <div class="row">
          <div
            class="
              col-9
              font-size-15 font-weight-bold
              pb-1
              pt-3
              mobile-content
              mobilefile
            "
          >
            Reg_BOP_TC016
          </div>

          <div class="col-3 text-right">
            <a href="" class="blackarrow"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div>
        </div>
        <!----><!----><!---->
      </div>

      <div class="record-entry d-inline">
        <div class="row">
          <div class="col-9 font-size-15 mobile-content">
            <span class="d-inline mr-1"
              ><img
                alt=""
                src="assets/road-runner/images/CGL-product.png" /></span
            >General Liability
          </div>
          <!-- <div class="col-3 text-right">
            <a class="bg-black fixed-width-icon-col mobile-link-button"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </div> -->

          <!----><!----><!---->
        </div>
      </div>
    </div>
  </div>
  <!-- close tab pannal -->
</div>
<!-- close tab content -->
