

  <li class="nav-item p-highlight ng-star-inserted" role="presentation">
    <a
      class="p-tabview-nav-link p-ripple"
      id="home-tab p-tabpanel-2-label"
      data-bs-toggle="tab"
      data-bs-target="#home"
      type="button"
      role="tab"
      aria-controls="home"
      aria-selected="true"
    >
      <span class="p-tabview-title ng-star-inserted"> Saved Quotes </span>
    </a>
  </li>

  <!--  -->
  <li class="nav-item p-highlight ng-star-inserted" role="presentation">
    <a
      class="nav-link p-tabview-nav-link p-ripple"
      id="profile-tab p-tabpanel-3-label"
      data-bs-toggle="tab"
      data-bs-target="#profile"
      type="button"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
    >
      <span> sdfsd</span>
    </a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="home"
    role="tabpanel"
    aria-labelledby="home-tab"
  >
    Sa
  </div>
  <div
    class="tab-pane fade"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    as
  </div>
  <div
    class="tab-pane fade"
    id="contact"
    role="tabpanel"
    aria-labelledby="contact-tab"
  >
    sasas
  </div>
</div>































<div class="container pb-4 victor-recent-cover">
  <div class="row">
    <div class="col-12">
      <div class="card panels">
        <div class="card-body px-0 pb-0">
          <h2 class="px-4 demi-weight">Recent Activity</h2>
          <div class="col-md-12 mt-2 parent-table-wrapper px-0"></div>
          <nav>
            <div class="p-tabview p-component">
              <div
                class="nav nav-tabs p-tabview-nav"
                id="nav-tab"
                role="tablist"
              >
                <ul
                  class="nav-link active p-tabview-nav"
                  id="nav-home-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-home"
                  role="tab"
                  aria-controls="nav-home"
                  aria-selected="true"
                >
                  Saved Quotes
                </ul>
                <ul
                  class="nav-link p-tabview-nav"
                  id="nav-profile-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-profile"
                  type="button"
                  role="tab"
                  aria-controls="nav-profile"
                  aria-selected="false"
                >
                  Policies Sold
                </ul>
              </div>
            </div>
          </nav>
          <div class="tab-content table-responsive px-4" id="nav-tabContent">
            <div
              class="
                tab-pane
                fade
                show
                active
                fader-right
                d-none d-sm-none d-md-block d-lg-block d-xl-block
              "
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
              <table
                aria-describedby="recent-activity-table"
                class="table ng-star-inserted"
              >
                <thead>
                  <tr>
                    <th scope="col" class="demi-weight ng-star-inserted">
                      CLIENT NAME
                    </th>
                    <th scope="col" class="demi-weight ng-star-inserted">
                      PROPOSAL #
                    </th>
                    <th scope="col" class="demi-weight ng-star-inserted">
                      DATE EDITED
                    </th>
                    <th scope="col" class="demi-weight ng-star-inserted">
                      BUSINESS LINE
                    </th>
                    <th scope="col" class="demi-weight ng-star-inserted">
                      STATUS
                    </th>
                  </tr>
                </thead>

                <tbody class="recent-activity-table">
                  <tr class="ng-star-inserted">
                    <td class="d-none d-sm-table-cell ng-star-inserted">
                      <div
                        data-toggle="tooltip"
                        title="Reg_WC_TC013"
                        class="truncate"
                      >
                        Reg_WC_TC013
                      </div>
                    </td>
                    <td class="d-none d-sm-table-cell ng-star-inserted">
                      <div data-toggle="tooltip" title="">
                        6124c734f9f78944b9e1657f
                      </div>
                    </td>

                    <td class="d-none d-sm-table-cell ng-star-inserted">
                      <div data-toggle="tooltip" title="">08/24/2021</div>
                    </td>

                    <td class="d-none d-sm-table-cell ng-star-inserted">
                      <div data-toggle="tooltip" title="">
                        <div class="ng-star-inserted">
                          <span class="d-inline mr-1"
                            ><img
                              _ngcontent-yow-c131=""
                              alt=""
                              src="/assets/road-runner/images/Workers Compensation.png"
                            />
                          </span>
                          Workers Compensation
                        </div>
                      </div>
                    </td>

                    <td class="d-none d-sm-table-cell ng-star-inserted">
                      <div data-toggle="tooltip" title="">
                        <div class="ng-star-inserted">Needs Referral</div>
                      </div>
                    </td>

                    <td class="d-none d-sm-table-cell ng-star-inserted">
                      <div data-toggle="tooltip" title="">
                        <div class="ng-star-inserted">
                          <a class="bg-black"
                            ><i class="bi bi-chevron-right"></i
                          ></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
            >
              s
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
