<div>
  <app-global-small-banner></app-global-small-banner>
  <section class="overlap-background mt-3 policies_footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 table-mv">
          <div class="card panels px-4">
            <div class="card-body px-0 px-sm-0 px-md-2">
              <h2 class="polices-header">POLICIES SOLD</h2>
              <section id="quotestable-active" class="policy-filter ng-star-inserted">
                <div class="d-flex">
                  <!-- <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-button-plain p-mr-2 mx-1" pTooltip="csv" tooltipPosition="bottom"></button> -->
                  <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportAsXLSXActive()"
                    class="p-button-success p-mr-2" pTooltip="Excel" tooltipPosition="bottom"></button>
                  <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdfActive()"
                    class="mx-1 p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                  <button type="button" pButton pRipple icon="pi pi-file-o" (click)="exportCSV()"
                    class="p-button-info p-ml-auto" pTooltip="CSV" tooltipPosition="bottom"></button>
                  <a (click)="clear(dt)" class="ms-auto clearbtn">Clear results</a>
                </div>

                <p-table id="tabel-parent" #dt [value]="activequotes" [columns]="colsForCsv" selectionMode="multiple"
                  [(selection)]="selectedProducts" dataKey="proposall" [rows]="5" [showCurrentPageReport]="true"
                  [rowsPerPageOptions]="[5, 10, 25, 50]" [loading]="loading"
                  styleClass="p-datatable-customers p-datatable-gridlines" [paginator]="true"
                  currentPageReportTemplate="Showing {first} - {last} of {totalRecords} entries" [globalFilterFields]="[
                    'clientName',
                    'proposall',
                    'polic.policy',
                    'status'
                  ]">
                  <!-- above globalFilterFields if for sarching the respective column -->
                  <ng-template pTemplate="header">
                    <tr class="tabel-mv">

                      <th colspan="3" style="display: revert !important">
                        <label class="policies__lable">Filter Status</label>
                        <p-columnFilter class="search-policies" field="status" matchMode="equals" [showMenu]="false">
                          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="status" (onChange)="filter($event.value)"
                              placeholder="All" [showClear]="true">
                              <ng-template let-option pTemplate="item">
                                <span [class]="
                                    'customer-badge status-' + option.value
                                  ">{{ option.label }}</span>
                              </ng-template>
                            </p-dropdown>
                          </ng-template>
                        </p-columnFilter>
                      </th>
                      <th colspan="3" style="display: revert !important; position: relative">
                        <label class="policies__lable">&nbsp;</label>
                        <input pInputText [(ngModel)]="inpDataClientName" type="text" class="active-quotes__search"
                          (input)="
                            dt.filterGlobal(
                              $any($event.target).value,
                              'contains'
                            )
                          " placeholder="Enter Client Name" />
                        <a class="
                            bg-black
                            active-quotes__search-icone
                            pol-search__byname
                          "><i _ngcontent-gux-c117="" class="pi pi-search"></i></a>
                      </th>
                      <th colspan="2" style="display: revert !important; position: relative">
                        <label class="policies__lable">&nbsp;</label>
                        <!-- <p-columnFilter
                          class="search-policies"
                          type="text"
                          matchmode="contains"
                          placeholder="Proposal Number"
                          field="proposall"
                        ></p-columnFilter> -->
                        <input [(ngModel)]="inpDataClientId" pInputText type="text" class="active-quotes__search"
                          (input)="
                          dt.filterGlobal(
                            $any($event.target).value,
                            'contains'
                          )
                        " placeholder="Enter Policy Number" />
                        <a class="
                            bg-black
                            active-quotes__search-icone
                            pol-search__byid
                          "><i _ngcontent-gux-c117="" class="pi pi-search"></i></a>
                      </th>

                      <th colspan="4" style="display: revert !important">
                        <label class="policies__lable">Time Period</label>
                        <p-columnFilter class="search-policies" field="timePeriod" matchMode="equals"
                          [showMenu]="false">
                          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="timePeriod" (onChange)="filter($event.value)"
                              placeholder="12 Months" [showClear]="true">
                              <ng-template let-option pTemplate="item">
                                <span [class]="
                                    'customer-badge status-' + option.value
                                  ">{{ option.label }}</span>
                              </ng-template>
                            </p-dropdown>
                          </ng-template>
                        </p-columnFilter>
                      </th>
                    </tr>

                    <tr id="active-table__header" class="tabel-mv__col quotes-table__header">
                      <td id="checkbox-child" style="width: auto !important; margin-right: 0">
                        <p-tableHeaderCheckbox class="portf-chkbx__design"></p-tableHeaderCheckbox>
                      </td>
                      <td class="webvw-hide" id="mv-col__disp" style="
                          font-family: dinOT-bold !important;
                          color: #333 !important;
                        ">
                        CLIENT NAME

                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="clientName" field="clientName"></p-sortIcon>
                          <p-columnFilter type="text" field="clientName" display="menu"></p-columnFilter>
                        </div>
                      </td>
                      <td class="webvw-hide" id="tab-view__po">
                        POLICY #

                        <br />
                        <p-sortIcon pSortableColumn="country.name" field="country.name"></p-sortIcon>
                      </td>
                      <td class="webvw-hide" id="mv-col__disp" style="
                          font-family: dinOT-bold !important;
                          color: #333 !important;
                        ">
                        BUSINESS LINE
                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="policy" field="policy"></p-sortIcon>
                          <p-columnFilter field="polic" matchMode="in" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                              <div class="p-px-3 p-pt-3 p-pb-0">
                                <span class="p-text-bold">Search by Business Line</span>
                              </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                              <p-multiSelect [ngModel]="value" [options]="businessLine" placeholder="Any"
                                (onChange)="filter($event.value)" optionLabel="name">
                                <ng-template let-option pTemplate="item">
                                  <div class="p-multiselect-representative-option">
                                    <span class="p-ml-1">{{
                                      option.name
                                      }}</span>
                                  </div>
                                </ng-template>
                              </p-multiSelect>
                            </ng-template>
                          </p-columnFilter>
                        </div>
                      </td>
                      <th style="padding-top: 24px">
                        <p-tableHeaderCheckbox class="portf-chkbx__design"></p-tableHeaderCheckbox>
                      </th>
                      <th>
                        CLIENT NAME <br />
                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="clientName" field="clientName"></p-sortIcon>
                          <p-columnFilter type="text" field="clientName" display="menu"></p-columnFilter>
                        </div>
                      </th>
                      <!-- <th  >PROPOSAL NAME <br>
                            <div class="d-flex align-items-center" style="margin-top: -6px;">
                              <p-sortIcon pSortableColumn="proposalName" field="proposalName"></p-sortIcon>
                              <p-columnFilter type="text" field="proposalName" display="menu"></p-columnFilter>
                            </div>
    
                          </th> -->
                      <th>
                        Policy #
                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="proposall" field="proposall"></p-sortIcon>
                          <p-columnFilter type="text" field="proposall" display="menu"></p-columnFilter>
                        </div>
                      </th>
                      <th class="table-mv__hide-column">
                        BUSINESS LINE
                        <br />
                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="policy" field="policy"></p-sortIcon>
                          <p-columnFilter field="polic" matchMode="in" display="menu" [showMatchModes]="false"
                            [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                              <div class="p-px-3 p-pt-3 p-pb-0">
                                <span class="p-text-bold">Search by Business Line</span>
                              </div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                              <p-multiSelect [ngModel]="value" [options]="businessLine" placeholder="Any"
                                (onChange)="filter($event.value)" optionLabel="name">
                                <ng-template let-option pTemplate="item">
                                  <div class="p-multiselect-representative-option">
                                    <span class="p-ml-1">{{
                                      option.name
                                      }}</span>
                                  </div>
                                </ng-template>
                              </p-multiSelect>
                            </ng-template>
                          </p-columnFilter>
                        </div>
                      </th>
                      <th class="table-mv__hide-column">
                        STATE
                        <br />
                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="state" field="state"></p-sortIcon>
                          <p-columnFilter type="text" field="state" display="menu"></p-columnFilter>
                        </div>
                      </th>
                      <th class="table-mv__hide-column">
                        CARRIER
                        <br />
                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="carrier" field="carrier"></p-sortIcon>
                          <p-columnFilter field="carrier" matchMode="equals" display="menu">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                              <p-dropdown [ngModel]="value" [options]="carrierDropDown"
                                (onChange)="filter($event.value)" placeholder="Select Carrier">
                                <ng-template let-option pTemplate="item">
                                  <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                              </p-dropdown>
                            </ng-template>
                          </p-columnFilter>

                        </div>
                      </th>
                      <th class="table-mv__hide-column">
                        Date Created
                        <br />
                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="dateCreated" field="dateCreated"></p-sortIcon>
                          <p-columnFilter type="date" field="dateCreated" display="menu"></p-columnFilter>
                        </div>
                      </th>

                      <th class="table-mv__hide-column">
                        Effective Date
                        <br />
                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="dateCreated" field="dateCreated"></p-sortIcon>
                          <p-columnFilter type="date" field="dateCreated" display="menu"></p-columnFilter>
                        </div>
                      </th>

                      <th class="table-mv__hide-column">
                        STATUS
                        <br />
                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="statis" field="statis"></p-sortIcon>
                          <p-columnFilter type="text" field="statis" display="menu"></p-columnFilter>
                        </div>
                      </th>
                      <th class="table-mv__hide-column">
                        PREMIUM
                        <br />
                        <div class="d-flex align-items-center" style="margin-top: -6px">
                          <p-sortIcon pSortableColumn="premium" field="premium"></p-sortIcon>
                          <p-columnFilter type="numeric" field="premium" display="menu" currency="USD"></p-columnFilter>
                        </div>
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-customer let-expanded="expanded">
                    <tr class="tabel-mv__rows">
                      <td id="checkbox-child__webview">
                        <p-tableCheckbox class="portf-chkbx__design" [value]="customer"></p-tableCheckbox>
                      </td>
                      <td id="checkbox-child" style="width: auto !important">
                        <p-tableCheckbox class="portf-chkbx__design" [value]="customer"></p-tableCheckbox>
                      </td>

                      <td class="d-flex align-items-center">
                        <div class="data-overflowclip nameclip">
                          {{ customer.clientName ? customer.clientName : "--" }}
                        </div>
                        <a _ngcontent-gux-c117="" id="btn-mv-hide" class="bg-black"><i _ngcontent-gux-c117=""
                            class="bi bi-chevron-right"></i></a>
                      </td>
                      <td class="propid-nomv">
                        <span class="data-overflowclip">{{
                          customer.proposall ? customer.proposall : "--"
                          }}</span>
                      </td>

                      <td class="mv-policy" style="padding-right: 25px !important">
                        <div class="data-overflowclip row-data__marginarray" *ngFor="let policy of customer.policy">
                          <span><img class="businessimage" src="{{ policy.image }}" />
                          </span>
                          <span class="data-overflowclip">
                            {{ policy.name }}

                            <br />
                          </span>
                        </div>
                        <button type="button" (click)="quotesTableMobviewDropbtn($event)" pButton pRipple
                          [pRowToggler]="customer" id="btn-clickinmv"
                          class="p-button-text p-button-rounded p-button-plain" [icon]="
                            expanded
                              ? 'pi pi-chevron-down'
                              : 'pi pi-chevron-right'
                          " _ngcontent-gux-c117="" class="bg-black"></button>
                      </td>
                      <td class="table-mv__hide-column">
                        <span class="data-overflowclip">
                          {{ customer.state ? customer.state : "--" }}
                        </span>
                      </td>
                      <td class="table-mv__hide-column">
                        <span class="data-overflowclip">{{customer.carrier?customer.carrier:"--"}}</span>
                      </td>
                      <td class="table-mv__hide-column">
                        <span class="data-overflowclip">{{
                          customer.dateCreated | date: "MM/dd/yyyy"
                          }}</span>
                      </td>

                      <td class="table-mv__hide-column">
                        <span class="data-overflowclip">{{
                          customer.dateCreated | date: "MM/dd/yyyy"
                          }}</span>
                      </td>

                      <td class="table-mv__hide-column">
                        <div class="data-overflowclip row-data__marginarray" *ngFor="let policy of customer.statis">
                          {{ policy }}
                          <br />
                        </div>
                      </td>

                      <td class="table-mv__hide-column">
                        <div class="data-overflowclip row-data__marginarray" *ngFor="let premium of customer.premium">
                          {{
                          premium
                          ? (premium | currency: "USD":"symbol")
                          : "--"
                          }}
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="7">No customers found.</td>
                    </tr>
                  </ng-template>
                  <ng-template style="width: 100%" pTemplate="rowexpansion" let-customer>
                    <div id="row-dropdown" style="
                        background-color: #f8f9fa !important ;
                        display: flex;
                        flex-direction: column;
                        padding: 0.5em 0rem 1rem;
                        font-size: 0.8rem;
                      ">
                      <!-- <p>{{customer.clientName}}</p> -->
                      <div *ngFor="let policy of customer.policy" style="
                          display: flex;
                          background-color: white;
                          border: none !important;
                          padding: 2rem 2rem 2rem 12px;
                          margin: 3px 12px 12px;
                        ">
                        <div>
                          <img class="businessimage" src="{{ policy.image }}" />
                        </div>

                        <div style="margin-left: 1rem">
                          {{ policy.name }}
                          <br />
                          Status : {{ policy.status }}
                          <br />
                          Premium : {{ policy.premium ? (policy.premium| currency: "USD":"symbol"): "--" }}
                        </div>

                        <!-- <span *ngFor="let policy of customer.statis">{{policy}}
                              <br/> 
                            </span>-->
                      </div>
                      <div style="background-color: #f8f9fa !important">
                        <div style="
                            border-bottom: 1.5px solid #d7dadc;
                            padding: 0.5rem 1rem;
                          ">
                          <span style="font-weight: 700">ProposalName </span>
                          <br />
                          {{
                          customer.proposalName
                          ? customer.proposalName
                          : "---"
                          }}
                        </div>
                        <div style="
                            border-bottom: 1.5px solid #d7dadc;
                            padding: 0.5rem 1rem;
                          ">
                          <span style="font-weight: 700">Policy# </span>
                          <br />
                          {{ customer.proposall }}
                        </div>
                        <div style="
                            border-bottom: 1.5px solid #d7dadc;
                            padding: 0.5rem 1rem;
                          ">
                          <span style="font-weight: 700">Carrier </span>
                          <br />
                          {{customer.carrier?customer.carrier:"--"}}
                        </div>
                        <div style="
                            border-bottom: 1.5px solid #d7dadc;
                            padding: 0.5rem 1rem;
                          ">
                          <span style="font-weight: 700">State </span>
                          <br />
                          {{ customer.state }}
                        </div>

                        <div style="padding: 0.5rem 1rem">
                          <span style="font-weight: 700">Date Entered </span>
                          <br />
                          {{ customer.dateCreated | date: "MM/dd/yyyy" }}
                        </div>
                        <div class="text-center my-2" style="
                            padding: 0.5rem 0rem;
                            background: #006a8e;
                            margin: 0 1rem;
                          ">
                          <a href="" style="width: 100%">
                            <button class="btn rounded-0" style="
                                color: #fff;
                                width: 100%;
                                font-size: 16px;
                                letter-spacing: 1.14px;
                                text-align: center;
                                line-height: 26px;
                              ">
                              View Quote
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </p-table>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>