.card {
  box-shadow: 0 0.5px 1px 0;
  border: none !important;
}
.card .card-header img {
  width: 40%;
}
.card .card-color-link .the-link {
  color: #000000;
}
.card .card-height-max {
  max-height: 7em;
  height: 7em;
}

.card-body {
  height: 252px;
  /* width: 210px; */
  padding: 1.25rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 16px;
}
@media (max-width: 992px) and (min-width: 768px) {
  .card .card-height-max {
    height: 7em;
    max-height: 7em;
  }
}
.card .contact-card-link {
  color: #000000;
  text-decoration: underline;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 26px;
}
.card .contact-header,
.card .contact-card-bg-blue {
  background-color: #006a8e !important;
}
