<div class="container pb-4 victor-recent-cover">
    <section class="policy-confo__content">
      <div class="policy-confo__title">
        Workers Compensation &nbsp; <strong>#TWC4041765</strong>
      </div>
      <section _ngcontent-bbw-c230="" class="section inner-padding">
        <div _ngcontent-bbw-c230="" class="card-title">COVERAGE DETAILS</div>
        <div _ngcontent-bbw-c230="" class="row">
          <div _ngcontent-bbw-c230="" class="col-md-6">
            <table
              _ngcontent-bbw-c230=""
              aria-describedby="insured details"
              class="table"
            >
              <th _ngcontent-bbw-c230="" scope="col"></th>
              <tbody _ngcontent-bbw-c230="">
                <tr _ngcontent-bbw-c230="">
                  <td
                    _ngcontent-bbw-c230=""
                    class="border-none font-600 col-sm-12 col-md-6"
                  >
                    Insured name
                  </td>
                  <td
                    _ngcontent-bbw-c230=""
                    data-toggle="tooltip"
                    class="text-md-right border-none col-sm-12 col-md-6 data-padding truncate"
                    title="Reg_WC_TC020"
                  >
                    Reg_WC_TC020
                  </td>
                </tr>
                <tr _ngcontent-bbw-c230="">
                  <td _ngcontent-bbw-c230="" class="font-600">
                    Type of insurance
                  </td>
                  <td
                    _ngcontent-bbw-c230=""
                    class="text-md-right border-xs-none data-padding"
                  >
                    Workers Compensation
                  </td>
                </tr>
                <tr _ngcontent-bbw-c230="">
                  <td _ngcontent-bbw-c230="" class="font-600">Premium</td>
                  <td
                    _ngcontent-bbw-c230=""
                    class="text-md-right border-xs-none border-xs data-padding ng-star-inserted"
                  >
                    $5,995.00 + taxes
                  </td>
                  <!----><!---->
                </tr>
              </tbody>
            </table>
          </div>
          <div _ngcontent-bbw-c230="" class="col-md-6">
            <table
              _ngcontent-bbw-c230=""
              aria-describedby="effectiveDate"
              class="table"
            >
              <th _ngcontent-bbw-c230="" scope="col"></th>
              <tbody _ngcontent-bbw-c230="">
                <tr _ngcontent-bbw-c230="">
                  <td _ngcontent-bbw-c230="" class="border-none font-600">
                    Effective Date
                  </td>
                  <td
                    _ngcontent-bbw-c230=""
                    class="text-md-right border-xs-none border-none data-padding"
                  >
                    2021-10-29
                  </td>
                </tr>
                <tr _ngcontent-bbw-c230="">
                  <td _ngcontent-bbw-c230="" class="font-600">Expiration Date</td>
                  <td
                    _ngcontent-bbw-c230=""
                    class="text-md-right border-xs-none data-padding"
                  >
                    2022-10-29
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <!-- table 2 starts -->
      <section _ngcontent-pdf-c224="" class="section inner-padding">
        <div _ngcontent-pdf-c224="" class="card-title">AGENT DETAILS</div>
        <div _ngcontent-pdf-c224="" class="row">
          <div _ngcontent-pdf-c224="" class="col-md-6">
            <table
              _ngcontent-pdf-c224=""
              aria-describedby="user details"
              class="table"
            >
              <th _ngcontent-pdf-c224="" scope="col"></th>
              <tbody _ngcontent-pdf-c224="">
                <tr _ngcontent-pdf-c224="">
                  <td _ngcontent-pdf-c224="" class="border-none font-600">
                    Agent Name
                  </td>
                  <td
                    _ngcontent-pdf-c224=""
                    class="text-md-right md-text-right border-none border-xs-none data-padding"
                  >
                    <span _ngcontent-pdf-c224=""> testUser1 &nbsp;</span
                    ><span _ngcontent-pdf-c224="">testUser1</span>
                  </td>
                </tr>
                <tr _ngcontent-pdf-c224="">
                  <td _ngcontent-pdf-c224="" class="font-600">Agent ID</td>
                  <td
                    _ngcontent-pdf-c224=""
                    class="text-md-right border-xs-none border-xs data-padding"
                  >
                    99999999
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div _ngcontent-pdf-c224="" class="col-md-6">
            <table
              _ngcontent-pdf-c224=""
              aria-describedby="agent details"
              class="table"
            >
              <th _ngcontent-pdf-c224="" scope="col"></th>
              <tbody _ngcontent-pdf-c224="">
                <tr _ngcontent-pdf-c224="">
                  <td _ngcontent-pdf-c224="" class="border-none font-600 td-22">
                    Agent Email
                  </td>
                  <td
                    _ngcontent-pdf-c224=""
                    class="text-md-right border-none data-padding push-right"
                  >
                    testuser1@gmail.com
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <!-- table 2 ends -->
      <section
        _ngcontent-pdf-c224=""
        class="section policy-documents inner-padding"
      >
        <div _ngcontent-pdf-c224="" class="card-title">POLICY DOCUMENT</div>
        <p-table _ngcontent-pdf-c224=""
          ><div
            data-scrollselectors=".p-datatable-scrollable-body, .p-datatable-unfrozen-view .p-datatable-scrollable-body"
            class="p-datatable p-component"
          >
           
            <div class="p-datatable-wrapper">
              <table role="grid">
             
                <thead class="p-datatable-thead">
                
                </thead>
                <tbody class="p-datatable-tbody">
                  <tr _ngcontent-pdf-c224="">
                    <td _ngcontent-pdf-c224="">
                      Workers Compensation-TWC4041765.pdf
                     
                    </td>
                    <td _ngcontent-pdf-c224="">
                     Created on 2021-09-30
                     
                    </td>
                    <td _ngcontent-pdf-c224="">
                   <a _ngcontent-pdf-c224=""
                        ><span
                          _ngcontent-pdf-c224=""
                          class="mr-2 d-none d-lg-inline-block vic-download-docs cursor-pointer"
                          >Download</span
                        ><img
                          _ngcontent-pdf-c224=""
                          src="/onevictor/assets/dovetail/images/Download_Icon_Blue.svg"
                          alt="download" /></a
                      >
                    </td>
               
                  </tr>
                  
                </tbody>
               
              </table>
            </div>
          
          </div></p-table
        >
        <div  class="info">
         
          <div  class="producer-details">
            <ul  class="documentList list-group">
            
            </ul>
            <div  class="flex-container roww mb-2">
              <div  class="flex-item mr-2 mt-1">
                <em  class="fas fa-info-circle icon"></em>
              </div>
              <div  class="flex-item text-left">
                <span  class="tip-info-text"
                  ><strong 
                    >How to upload signature documents</strong
                  ></span
                >
                <p class="p-document-section">
                  Please complete (and scan, if necessary) all documents, then
                  upload them or drag and drop them into the box below.
                </p>
              </div>
            </div>
  
          </div>
        </div>
      </section>
    </section>
    <div class="container"></div>
  </div>